<p><strong>User: </strong><%= comment.user.email %></p>
<p><%= comment.body %></p>
<% if comment.user_id == current_user.id %>
  <div class="row content-center">
    <div class="col-2">
      <%= button_to 'Delete Comment', [comment.product, comment], method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn-danger p-2 rounded" %>
    </div>
    <div class="col-1">
      <%= button_to 'Update Comment', edit_product_comment_path(comment.product, comment), method: :get, :class => "btn-warning p-2 rounded" %>
    </div>
  </div>
<%end%>
<hr>
