<div class="row justify-content-center">
  <div class="col-3 border">
    <h1 class="text-center">Wishlist</h1>
    <hr>
    <% @products.each do |product| %>
      <div class="row">
        <div class="col-6">
          <%= product.title %>
        </div>
        <div class="col-6">
          <%= button_to 'Remove from Wishlist', wishlist_path(id: product.id), method: :delete, class: "btn-danger p-2 rounded mx-2" %>
        </div>
      </div>
      <br>
    <% end %>
    <br>
  </div>
</div>
